.habitacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/habitacion.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.juego {
    position: absolute;
    cursor: pointer;
    clip-path: content-box;
}

.juego:hover {
  filter: 
    drop-shadow(1px 0px 0px white)
    drop-shadow(-1px 0px 0px white)
    drop-shadow(0px 1px 0px white)
    drop-shadow(0px -1px 0px white);    
}

.mesa {
    top: 60%;
    left: 10%;
    width: 17%;
}

.preguntados {
    top: 42%;
    left: 28%;
    width: 9%;
}

.buscaminas {
    top: 50%;
    left: 60%;
    width: 16%;
}

.ahorcado {
    top: 35%;
    left: 38%;
    width: 21%;
}

.volver {
    position: absolute;
    top: 4%;
    left: 2%;
    width: 8%;
    cursor: pointer;
}

.volver:hover {
    filter: 
    drop-shadow(1px 0px 0px white)
    drop-shadow(-1px 0px 0px white)
    drop-shadow(0px 1px 0px white)
    drop-shadow(0px -1px 0px white);    
}

.rankings {
    position: absolute;
    top: 3%;
    left: 12%;
    width: 8%;
    cursor: pointer;
}

.rankings:hover {
    filter: 
    drop-shadow(1px 0px 0px white)
    drop-shadow(-1px 0px 0px white)
    drop-shadow(0px 1px 0px white)
    drop-shadow(0px -1px 0px white);    
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 50px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 400px;
}